name: release
on:
    release:
        types: [created]
jobs:
    release:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout repo
              uses: actions/checkout@v3
            - name: Validate and extract release information
              id: release
              uses: manovotny/github-releases-for-automated-package-publishing-action@v2.0.1
            - name: Set node version
              uses: actions/setup-node@v3
              with:
                  always-auth: true
                  node-version-file: '.nvmrc'
                  registry-url: 'https://registry.npmjs.org'
            - name: Cache node_modules
              id: node-modules-cache
              uses: actions/cache@v3
              with:
                  path: '**/node_modules'
                  key: node-modules-cache-${{ hashFiles('**/package-lock.json') }}
            - name: Install dependencies
              if: steps.node-modules-cache.outputs.cache-hit != 'true'
              run: npm ci
            - name: Publish version
              if: steps.release.outputs.tag == ''
              run: npm publish
              env:
                  NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
            - name: Publish version with tag
              if: steps.release.outputs.tag != ''
              run: npm publish --tag ${{ steps.release.outputs.tag }}
              env:
                  NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
