name: test
on: pull_request
jobs:
    test:
        runs-on: ubuntu-latest
        steps:
            - name: Cancel running workflows
              uses: styfle/cancel-workflow-action@0.6.0
              with:
                  access_token: ${{ github.token }}
            - name: Checkout repo
              uses: actions/checkout@v2
            - name: Read node version
              id: nvm
              run: echo "::set-output name=version::$(cat .nvmrc)"
            - name: Set node version
              uses: actions/setup-node@v2
              with:
                  node-version: ${{ steps.nvm.outputs.version }}
            - name: Cache node_modules
              id: node-modules-cache
              uses: actions/cache@v2
              with:
                  path: '**/node_modules'
                  key: node-modules-cache-${{ hashFiles('**/package-lock.json') }}
            - name: Install dependencies
              if: steps.node-modules-cache.outputs.cache-hit != 'true'
              run: npm ci
            - name: Run tests
              run: npm test
